@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.ttf) format("ttf"), url(../fonts/Montserrat-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat-Medium.ttf) format("ttf"), url(../fonts/Montserrat-Medium.eot) format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.ttf) format("ttf"), url(../fonts/Montserrat-SemiBold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.ttf) format("ttf"), url(../fonts/Montserrat-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"), url(../fonts/Montserrat-ExtraBold.ttf) format("ttf"), url(../fonts/Montserrat-ExtraBold.eot) format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url(../fonts/Inter-Regular.woff) format("woff"), url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.ttf) format("ttf"), url(../fonts/Inter-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), url(../fonts/Inter-Bold.woff) format("woff"), url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.ttf) format("ttf"), url(../fonts/Inter-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container + .container {
  margin-top: 36px;
}

html,
body {
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
  color: #2D2F35;
}

body.locked {
  overflow: hidden;
}

body.locked::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(40%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  background-image: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.1) 100%);
  z-index: 2;
}

a {
  color: inherit;
}

button,
input {
  font-family: Montserrat, sans-serif;
}

svg.stroke {
  fill: none;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.w-100 {
  width: 100%;
}

.logo__img {
  width: 150px;
  height: 42px;
}

.main-title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 800;
  color: #0077CC;
}

.title ~ * {
  margin-top: 15px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.43;
}

.title-s {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
}

.text {
  font-size: 20px;
}

.text-l {
  font-size: 22px;
}

.text-light {
  color: #494D58;
}

.text-black {
  color: #2D2F35;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.description {
  font-size: 22px;
  font-weight: 500;
}

.description-m {
  font-size: 20px;
  font-weight: 500;
}

.description-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.description-l {
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 45px;
  height: 60px;
  background-color: #0077CC;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.btn:hover,
.btn:focus {
  -webkit-animation: shake 0.6s ease-in-out both;
          animation: shake 0.6s ease-in-out both;
}

.btn:hover .btn__text,
.btn:focus .btn__text {
  -webkit-animation: shakeText 0.5s ease-in-out both;
          animation: shakeText 0.5s ease-in-out both;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.btn:active {
  background-color: #004a80;
}

.btn--m {
  padding: 0 58px;
}

.btn--l {
  padding: 0 64px;
}

.btn--white {
  background-color: #fff;
  color: #0077CC;
}

.btn--white:active {
  background-color: #fff;
}

.btn__text {
  position: relative;
}

.mobile {
  display: none;
}

.search-form {
  position: relative;
}

.search-form__field {
  padding: 0 44px 0 15px;
  width: 242px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid #C8CFE2;
  outline: none;
  -webkit-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.search-form__field:focus {
  border-color: #0077CC;
}

.search-form__btn {
  position: absolute;
  top: 14px;
  right: 24px;
  background-color: transparent;
}

.search-form__btn:hover .search-form__btn-icon {
  -webkit-transform: scale(1.3) rotate(90deg);
      -ms-transform: scale(1.3) rotate(90deg);
          transform: scale(1.3) rotate(90deg);
}

.search-form__btn-icon {
  width: 15px;
  height: 15px;
  fill: none;
  stroke: #0077CC;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.search-form-l {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  position: relative;
}

.search-form-l__field {
  padding: 0 240px 0 44px;
  width: 100%;
  height: 80px;
  border: 1px solid transparent;
  border-radius: 60px;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  font-size: 20px;
  font-weight: 400;
  color: #494D58;
}

.search-form-l__field:focus {
  border-color: #0077CC;
  outline: none;
}

.search-form-l__field::-webkit-input-placeholder {
  color: #494D58;
  font-size: 20px;
  font-weight: 400;
}

.search-form-l__field::-moz-placeholder {
  color: #494D58;
  font-size: 20px;
  font-weight: 400;
}

.search-form-l__field:-ms-input-placeholder {
  color: #494D58;
  font-size: 20px;
  font-weight: 400;
}

.search-form-l__field::-ms-input-placeholder {
  color: #494D58;
  font-size: 20px;
  font-weight: 400;
}

.search-form-l__field::placeholder {
  color: #494D58;
  font-size: 20px;
  font-weight: 400;
}

.search-form-l__btn {
  position: absolute;
  right: 0;
  width: 289px;
  height: 100%;
}

.user > *:not(:last-child) {
  margin-right: 23px;
}

.user__link {
  font-size: 16px;
  font-weight: 500;
}

.user__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 42px;
  padding: 0 10px;
  background-color: #0077CC;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.user__btn:hover,
.user__btn:focus {
  -webkit-animation: shake 0.6s ease-in-out both;
          animation: shake 0.6s ease-in-out both;
}

.user__btn:hover .user__btn-text,
.user__btn:focus .user__btn-text {
  -webkit-animation: shakeText 0.5s ease-in-out both;
          animation: shakeText 0.5s ease-in-out both;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.user__btn:active {
  background-color: #004a80;
}

.user__btn-text {
  position: relative;
}

.language-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  width: 80px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid #C8CFE2;
  font-size: 16px;
  font-weight: 500;
}

.language-link:hover,
.language-link:focus {
  -webkit-animation: shake 0.6s ease-in-out both;
          animation: shake 0.6s ease-in-out both;
}

.language-link:hover .language-link__text,
.language-link:focus .language-link__text {
  -webkit-animation: shakeText 0.5s ease-in-out both;
          animation: shakeText 0.5s ease-in-out both;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.language-link__text {
  position: relative;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__inner {
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.modal.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal.modal--active .modal__dialog {
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal.modal--s .modal__dialog {
  width: 300px;
}

.modal.modal--m .modal__dialog {
  width: 600px;
}

.modal.modal--l .modal__dialog {
  width: 900px;
}

.modal__dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  width: 100%;
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  color: #fff;
}

.modal__dialog-close-btn {
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__dialog-close-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.modal__dialog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.modal__dialog-content {
  padding-top: 20px;
  max-height: calc(100vh - 180px);
}

.modal__dialog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  padding-top: 20px;
}

* ~ .section__inner {
  margin-top: 30px;
}

.section {
  padding: 120px 0;
}

.section--bg {
  background-color: #EDF1FC;
}

.section--bg-accent {
  background-color: #0077CC;
  color: #fff;
}

.section__header {
  margin-bottom: 60px;
}

.section__footer {
  margin-top: 60px;
}

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 75px;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  width: 55%;
}

.section__container-s {
  max-width: 1110px;
}

.section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  width: 40%;
  margin: auto 0;
}

.section__img {
  width: 45%;
  position: relative;
}

.section__img-content {
  width: 60%;
}

.section__slides {
  width: 45%;
}

.section-main {
  padding: 60px 0;
}

.vehicle-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
  width: 100%;
}

.vehicle-type {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.vehicle-type:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.vehicle-type:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.vehicle-type__icon {
  width: 54px;
  height: 54px;
}

.vehicle-type__icon.stroke {
  stroke: #0077CC;
  stroke-width: 2px;
}

.vehicle-type__icon.fill {
  fill: #0077CC;
}

.vehicle-ownership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 632px;
  height: 460px;
  background-image: url("../img/main_page/ownership_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.vehicle-ownership ~ * {
  margin-top: 30px;
}

.vehicle-ownership__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: #0077CC;
}

.vehicle-ownership__link:not(:last-child) {
  margin-bottom: 10px;
}

.vehicle-ownership__link:nth-child(1) {
  margin-right: 32%;
}

.vehicle-ownership__link:nth-child(2) {
  margin-right: 13%;
}

.vehicle-ownership__link:nth-child(4) {
  margin-right: 10%;
}

.vehicle-ownership__link:nth-child(5) {
  margin-right: 5%;
}

.vehicle-ownership__link:nth-child(6) {
  margin-right: 1%;
}

.vehicle-ownership__link:nth-child(7) {
  margin-right: 14%;
}

.vehicle-ownership__link-text {
  position: relative;
  left: 0;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
}

.vehicle-ownership__link-text:hover {
  left: 10px;
}

.vehicle-ownership__link-text:hover::before {
  left: -12px;
  opacity: 1;
}

.vehicle-ownership__link-text::before {
  content: "→";
  -webkit-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -14px;
  opacity: 0;
  font-size: 20px;
  line-height: 1;
}

.img-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.img-pic {
  width: 100%;
}

.img-shaped {
  width: 100%;
}

* ~ .banner {
  margin-top: 36px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 40px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
}

.banner__img {
  margin-right: 40px;
  width: 155px;
  height: 155px;
}

.banner__title {
  margin-right: 75px;
  margin-bottom: 0;
  word-wrap: break-word;
}

.banner__text {
  margin-right: 57px;
}

.banner__btn {
  width: 289px;
}

.icon-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.icon-list__item + .icon-list__item {
  margin-top: 42px;
}

.icon-list__pic-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #fff;
}

.icon-list__pic {
  width: 45px;
  height: 45px;
}

.icon-list__title {
  margin-bottom: 15px;
}

.checked-list__item {
  position: relative;
  padding-left: 30px;
  line-height: 1.4;
}

.checked-list__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/general/tick_circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.checked-list__item + .checked-list__item {
  margin-top: 30px;
}

.checked-list__item--s + .checked-list__item--s {
  margin-top: 15px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 680px;
  padding: 30px 0;
}

.card--content-left,
.card--content-right {
  background-repeat: no-repeat;
  background-size: contain;
}

.card--content-left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: left center;
}

.card--content-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-position: right center;
}

.card + .card {
  margin-top: 120px;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  position: relative;
  max-width: 645px;
  width: 50%;
  padding: 40px 55px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25);
}

.img-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-slide {
  position: relative;
}

.img-slide:nth-child(1) {
  width: 65%;
}

.img-slide:nth-child(2) {
  width: 35%;
  margin-top: 15%;
  right: 5%;
}

.img-slide:nth-child(3) {
  width: 50%;
  margin-top: 5%;
}

.img-slide:nth-child(4) {
  width: 35%;
  margin-top: -5%;
  left: 5%;
}

.img-slide:nth-child(5) {
  width: 40%;
  margin-top: -10%;
  left: 40%;
}

.img-slide__pic {
  width: 100%;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact-list__icon {
  margin: 0 auto 22px;
  width: 98px;
  height: 98px;
}

.contact-list__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
}

.contact-list__text {
  color: #494D58;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.socials__link:hover .socials__icon {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
}

.socials__link::before {
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  content: "";
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-color: #fff;
  border-radius: 100%;
  display: block;
  -webkit-transition: -webkit-transform 265ms ease-out;
  transition: -webkit-transform 265ms ease-out;
  -o-transition: transform 265ms ease-out;
  transition: transform 265ms ease-out;
  transition: transform 265ms ease-out, -webkit-transform 265ms ease-out;
}

.socials__icon {
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 265ms ease-out;
  transition: -webkit-transform 265ms ease-out;
  -o-transition: transform 265ms ease-out;
  transition: transform 265ms ease-out;
  transition: transform 265ms ease-out, -webkit-transform 265ms ease-out;
}

.socials__icon.stroke {
  stroke: #fff;
}

@-webkit-keyframes modal {
  from {
    -webkit-transform: translateY(-100%) rotateX(30deg);
            transform: translateY(-100%) rotateX(30deg);
  }

  to {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
}

@keyframes modal {
  from {
    -webkit-transform: translateY(-100%) rotateX(30deg);
            transform: translateY(-100%) rotateX(30deg);
  }

  to {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes shakeText {
  0% {
    right: 4px;
  }

  33% {
    right: -4px;
  }

  66% {
    right: 4px;
  }

  100% {
    right: 0;
  }
}

@keyframes shakeText {
  0% {
    right: 4px;
  }

  33% {
    right: -4px;
  }

  66% {
    right: 4px;
  }

  100% {
    right: 0;
  }
}

.header {
  position: relative;
  padding: 40px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 50px;
}

.header__search-form {
  margin-left: auto;
}

.header__mobile-search-btn {
  display: none;
}

.header__user {
  margin-left: 23px;
}

.header__language-link {
  margin-left: 23px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.menu__list-item:not(:last-child) {
  margin-right: 20px;
}

.menu__list-item--dropdown {
  position: relative;
}

.menu__list-item--dropdown:hover > .submenu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu__list-item--dropdown:hover .menu__link--dropdown::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu__list-item--dropdown:hover .menu__link--dropdown::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu__link {
  font-size: 18px;
  font-weight: 500;
  color: #2D2F35;
}

.menu__link--dropdown {
  padding-right: 30px;
  position: relative;
}

.menu__link--dropdown::before,
.menu__link--dropdown::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 2px;
  height: 8px;
  background-color: #0077CC;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.menu__link--dropdown::before {
  right: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__link--dropdown::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.submenu {
  padding: 10px;
  position: absolute;
  top: calc(100% + 25px);
  left: -15px;
  width: 200px;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
  pointer-events: none;
  -webkit-transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.submenu::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 9px);
  left: 25px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.submenu::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 32px;
}

.submenu__item:not(:last-child) {
  margin-bottom: 5px;
}

.submenu__link {
  position: relative;
  left: 0;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
}

.submenu__link:hover {
  left: 10px;
}

.submenu__link:hover::before {
  left: 0;
  opacity: 1;
}

.submenu__link::before {
  content: "→";
  -webkit-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: relative;
  left: -5px;
  opacity: 0;
  font-size: 20px;
  line-height: 1;
}

@-webkit-keyframes elastic {
  0% {
    border-radius: 50%;
  }

  45% {
    border-radius: 0;
  }

  65% {
    border-top-left-radius: 40px 50%;
    border-bottom-left-radius: 40px 50%;
  }

  80% {
    border-radius: 0;
  }

  90% {
    border-top-left-radius: 20px 50%;
    border-bottom-left-radius: 20px 50%;
  }

  100% {
    border-radius: 0;
  }
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }

  45% {
    border-radius: 0;
  }

  65% {
    border-top-left-radius: 40px 50%;
    border-bottom-left-radius: 40px 50%;
  }

  80% {
    border-radius: 0;
  }

  90% {
    border-top-left-radius: 20px 50%;
    border-bottom-left-radius: 20px 50%;
  }

  100% {
    border-radius: 0;
  }
}

.mobile-search-btn {
  background-color: transparent;
}

.mobile-search-btn__icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #0077CC;
}

.mobile-menu {
  display: none;
}

.mobile-menu.is-opened .hamburger {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.mobile-menu.is-opened .hamburger__line:nth-child(1) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.mobile-menu.is-opened .hamburger__line:nth-child(2) {
  width: 100%;
}

.mobile-menu.is-opened .hamburger__line:nth-child(3) {
  width: 0;
  -webkit-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.mobile-menu.is-opened .hamburger__other-line {
  height: 22px;
  -webkit-transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.mobile-menu.is-opened .mobile-menu__dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.mobile-menu.is-opened .mobile-menu__dropdown .mobile-menu__dropdown-inner {
  background-color: #fff;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  -o-transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms, -webkit-transform 300ms linear;
}

.mobile-menu.is-opened .mobile-menu__dropdown .mobile-menu__dropdown-inner::after {
  width: 300%;
  border-radius: 50%;
  -webkit-animation: elastic 150ms ease 300.5ms both;
          animation: elastic 150ms ease 300.5ms both;
}

.mobile-menu__dropdown {
  position: fixed;
  width: 300px;
  height: calc(100vh - 82px);
  top: 82px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms;
  right: 0;
}

.mobile-menu__dropdown-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  -o-transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms, -webkit-transform 300ms linear;
}

.mobile-menu__dropdown-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.mobile-menu__dropdown-inner .mCSB_inside > .mCSB_container {
  margin-right: 5px;
}

.mobile-menu__dropdown-inner .mCSB_container {
  height: 100%;
}

.mobile-menu__dropdown-inner .mCSB_scrollTools .mCSB_draggerContainer {
  top: 10px;
  bottom: 10px;
}

.mobile-menu__dropdown-inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #0077CC;
}

.mobile-menu__dropdown-inner .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #C8CFE2;
}

.mobile-menu__navlist {
  border-top: 1px solid #C8CFE2;
  background-color: #EDF1FC;
}

.mobile-menu__navitem,
.mobile-menu__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #C8CFE2;
}

.mobile-menu__navitem.dropdown.sub-open > .mobile-menu__submenu,
.mobile-menu__subitem.dropdown.sub-open > .mobile-menu__submenu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__navlink,
.mobile-menu__sublink {
  padding: 20px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}

.mobile-menu__navtrigger,
.mobile-menu__subtrigger {
  position: relative;
  width: 42px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__navtrigger::after,
.mobile-menu__subtrigger::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid #0077CC;
  border-bottom: 2px solid #0077CC;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu__submenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EDF1FC;
  z-index: 11;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.mobile-menu__submenu.sub-open > .mobile-menu__submenu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__backmenu {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #C8CFE2;
  line-height: normal;
}

.mobile-menu__backmenu em {
  font-size: 18px;
  font-weight: 700;
}

.mobile-menu__backtrigger {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #0077CC;
  border-bottom: 2px solid #0077CC;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.mobile-menu__user {
  margin: 34px 0;
  padding: 0 20px;
  text-align: center;
}

.mobile-menu__language {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #494D58;
}

.mobile-menu__language-wrap {
  padding: 0 20px;
  text-align: center;
}

.mobile-menu__language.is-opened .mobile-menu__language-btn::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.mobile-menu__language.is-opened .mobile-menu__language-btn::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.mobile-menu__language.is-opened .mobile-menu__language-dropdown {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__language-btn {
  position: relative;
  z-index: 10;
  padding-right: 18px;
  font-weight: 500;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #494D58;
}

.mobile-menu__language-btn::before,
.mobile-menu__language-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 2px;
  height: 8px;
  background-color: #494D58;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.mobile-menu__language-btn::before {
  right: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu__language-btn::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu__language-icon-globe {
  margin-right: 9px;
  width: 21px;
  height: 21px;
  fill: #494D58;
}

.mobile-menu__language-dropdown {
  position: absolute;
  bottom: calc(100% + 10px);
  right: -30px;
  width: 150px;
  max-height: 250px;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
  pointer-events: none;
  text-align: left;
  -webkit-transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.mobile-menu__language-dropdown::before {
  content: "";
  position: absolute;
  top: calc(100% - 9px);
  right: 35px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu__language-dropdown-inner {
  padding: 10px 15px;
}

.mobile-menu__language-dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
  font-size: 14px;
  color: #494D58;
}

.mobile-menu__language-dropdown-link:hover {
  left: 10px;
}

.mobile-menu__language-dropdown-link:hover::before {
  left: -10px;
  opacity: 1;
}

.mobile-menu__language-dropdown-link::before {
  content: "→";
  -webkit-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  top: 3px;
  left: -15px;
  opacity: 0;
  font-size: 20px;
  line-height: 1;
}

.mobile-menu__language-dropdown .mCSB_scrollTools .mCSB_draggerContainer {
  top: 10px;
  bottom: 10px;
}

.mobile-menu__language-dropdown .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #0077CC;
}

.mobile-menu__language-dropdown .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #C8CFE2;
}

.hamburger {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 22px;
  height: 22px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.hamburger__line {
  width: 100%;
  height: 2px;
  background-color: #494D58;
  margin-top: 8px;
  border-radius: 2px;
}

.hamburger__line:nth-child(1) {
  margin-top: 0;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.hamburger__line:nth-child(2) {
  width: 50%;
  -webkit-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.hamburger__line:nth-child(3) {
  width: 75%;
  -webkit-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.hamburger__other-line {
  width: 2px;
  height: 0;
  background-color: #494D58;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  -webkit-transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  -o-transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 10;
  border-radius: 2px;
}

.footer {
  background-color: #333B47;
  color: #fff;
}

.footer__main {
  padding: 70px 0 40px;
}

.footer__main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.footer__item:not(:last-child) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.footer__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link + .footer__link {
  margin-top: 20px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
  font-size: 20px;
  color: #fff;
  line-height: normal;
}

.footer__link:hover {
  left: 10px;
}

.footer__link:hover::before {
  left: -10px;
  opacity: 1;
}

.footer__link::before {
  content: "→";
  -webkit-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  top: 3px;
  left: -15px;
  opacity: 0;
  font-size: 20px;
  line-height: 1;
}

.footer__bottom {
  padding: 50px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.footer-search-form {
  margin-left: auto;
  max-width: 484px;
  width: 100%;
  position: relative;
}

.footer-search-form__field {
  padding: 0 44px;
  width: 100%;
  height: 42px;
  border-radius: 60px;
  font-size: 20px;
  outline: none;
}

.footer-search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 42px;
  border-radius: 40px;
}

.language {
  position: relative;
  line-height: 1;
}

.language.is-opened .language-btn::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.language.is-opened .language-btn::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.language.is-opened .language-dropdown {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.language-btn {
  position: relative;
  z-index: 10;
  padding-right: 18px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.language-btn::before,
.language-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 2px;
  height: 8px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.language-btn::before {
  right: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.language-btn::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.language-icon-globe {
  margin-right: 9px;
  width: 21px;
  height: 21px;
  fill: #fff;
}

.language-dropdown {
  position: absolute;
  bottom: calc(100% + 10px);
  right: -5px;
  width: 150px;
  max-height: 250px;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
  pointer-events: none;
  -webkit-transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.language-dropdown::before {
  content: "";
  position: absolute;
  top: calc(100% - 9px);
  right: 35px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.language-dropdown__inner {
  padding: 10px 15px;
}

.language-dropdown__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
  font-size: 14px;
  color: #2D2F35;
}

.language-dropdown__link:not(:last-child) {
  margin-bottom: 5px;
}

.language-dropdown__link:hover {
  left: 10px;
}

.language-dropdown__link:hover::before {
  left: -10px;
  opacity: 1;
}

.language-dropdown__link::before {
  content: "→";
  -webkit-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  transition: left ease 0.5s;
  position: absolute;
  top: 3px;
  left: -15px;
  opacity: 0;
  font-size: 20px;
  line-height: 1;
}

.language-dropdown .mCSB_scrollTools .mCSB_draggerContainer {
  top: 10px;
  bottom: 10px;
}

.language-dropdown .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #0077CC;
}

.language-dropdown .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #C8CFE2;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199.98px) {
  .main-title {
    font-size: 38px;
  }

  .title {
    font-size: 36px;
  }

  .text-l {
    font-size: 18px;
  }

  .description {
    font-size: 20px;
  }

  .description-l {
    font-size: 22px;
  }

  .search-form-l__field {
    height: 60px;
  }

  .search-form-l__btn {
    height: 60px;
  }

  .section {
    padding: 60px 0;
  }

  .section__content {
    width: 100%;
  }

  .section__box {
    width: auto;
    max-width: 488px;
  }

  .section__img {
    width: auto;
  }

  .section-main {
    padding: 30px 0;
  }

  .vehicle-ownership {
    width: 597px;
    height: 425px;
  }

  .vehicle-ownership__link {
    font-size: 24px;
  }

  .banner {
    padding: 40px 25px;
  }

  .banner__title {
    margin-right: 40px;
  }

  .banner__text {
    margin-right: 40px;
  }

  .card {
    min-height: 580px;
  }

  .card + .card {
    margin-top: 60px;
  }

  .card__content {
    width: 55%;
    padding: 30px 25px;
  }

  .menu__link {
    font-size: 16px;
  }

  .menu__link--dropdown {
    padding-right: 18px;
  }

  .footer__main-inner {
    gap: 15px;
  }

  .footer__link + .footer__link {
    margin-top: 15px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__bottom-inner {
    gap: 22px;
  }
}

@media (max-width: 1023.98px) {
  .user > *:not(:last-child) {
    margin-right: 15px;
  }

  .header__logo {
    margin-right: 25px;
  }

  .header__user {
    margin-left: 15px;
  }

  .header__language-link {
    margin-left: 15px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .main-title {
    font-size: 30px;
  }

  .title {
    font-size: 28px;
  }

  .title-s {
    font-size: 24px;
  }

  .text {
    font-size: 18px;
  }

  .description {
    font-size: 18px;
    line-height: 1.3;
  }

  .description-l {
    font-size: 20px;
  }

  .btn {
    padding: 0 25px;
    font-size: 18px;
  }

  .search-form-l__field {
    padding: 0 170px 0 20px;
    font-size: 18px;
  }

  .search-form-l__field::-webkit-input-placeholder {
    font-size: 18px;
  }

  .search-form-l__field::-moz-placeholder {
    font-size: 18px;
  }

  .search-form-l__field:-ms-input-placeholder {
    font-size: 18px;
  }

  .search-form-l__field::-ms-input-placeholder {
    font-size: 18px;
  }

  .search-form-l__field::placeholder {
    font-size: 18px;
  }

  .section__header {
    margin-bottom: 40px;
  }

  .section__inner {
    gap: 40px;
  }

  .section__img-content {
    width: auto;
  }

  .vehicle-ownership {
    width: 414px;
    height: 310px;
  }

  .vehicle-ownership__link {
    font-size: 16px;
  }

  .vehicle-ownership__link:not(:last-child) {
    margin-bottom: 5px;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 28px;
  }

  .banner__img {
    margin-right: 0;
    width: 110px;
    height: 110px;
  }

  .banner__title {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 0;
  }

  .banner__text {
    margin-right: 0;
  }

  .card {
    min-height: 460px;
  }

  .contact-list__icon {
    width: 78px;
    height: 78px;
  }

  .contact-list__title {
    font-size: 36px;
  }

  .contact-list__text {
    font-size: 18px;
  }

  .header {
    padding: 20px 0;
  }

  .header__menu {
    display: none;
  }

  .header__search-form {
    display: none;
  }

  .header__mobile-search-btn {
    display: block;
    margin-left: auto;
  }

  .header__user {
    display: none;
  }

  .header__language-link {
    display: none;
  }

  .mobile-menu {
    display: block;
    margin-left: 28px;
  }

  .footer__main-inner {
    display: block;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .footer__item {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
            break-inside: avoid;
    margin-bottom: 70px;
  }

  .footer__link {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .section__header {
    margin-bottom: 30px;
  }

  .section__footer {
    margin-top: 30px;
  }

  .section__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__inner ~ * {
    margin-top: 36px;
  }

  .section__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .section__content-header-desktop {
    display: none;
  }

  .section__box {
    max-width: 100%;
  }

  .section__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 495px;
    margin: 0 auto 30px;
  }

  .section__img-content {
    width: 100%;
    text-align: center;
  }

  .section__slides {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .vehicle-ownership {
    margin: 0 auto;
  }

  .card {
    padding: 320px 0 0 0;
  }

  .card--content-left,
  .card--content-right {
    background-size: auto 400px;
    background-position: center top;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card__content {
    width: 100%;
    max-width: 420px;
    gap: 20px;
  }

  .contact-list__icon {
    margin-bottom: 10px;
    width: 58px;
    height: 58px;
  }

  .contact-list__title {
    font-size: 28px;
  }

  .contact-list__text {
    font-size: 16px;
  }

  .footer__main {
    padding: 50px 0 20px;
  }

  .footer__bottom {
    padding: 30px 0;
  }

  .footer__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer-search-form {
    margin-left: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .language {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 575.98px) {
  .logo__img {
    width: 107px;
    height: 30px;
  }

  .title {
    font-size: 24px;
  }

  .title-s {
    font-size: 20px;
  }

  .text {
    font-size: 17px;
  }

  .text-l {
    font-size: 16px;
  }

  .description-m {
    line-height: normal;
    font-size: 17px;
  }

  .mobile-inline {
    display: inline;
  }

  .search-form-l__btn {
    width: auto;
  }

  .vehicle-types {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .icon-list__pic-wrapper {
    width: 67px;
    height: 67px;
  }

  .icon-list__pic {
    width: 35px;
    height: 35px;
  }

  .cards {
    margin: 0 -15px;
  }

  .card__content {
    margin: 0 15px;
  }

  .contact-list__title {
    font-size: 18px;
  }

  .contact-list__text {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  body.locked::after {
    z-index: -1;
  }

  .btn {
    width: 100%;
  }

  .search-form-l__field {
    padding: 0 15px;
  }

  .search-form-l__btn {
    position: static;
    margin-top: 20px;
  }

  .section__img {
    text-align: center;
  }

  .vehicle-ownership {
    width: 320px;
    height: 215px;
  }

  .vehicle-ownership__link {
    padding: 5px 15px;
    font-size: 13px;
  }

  .img-pic {
    width: 80%;
  }

  .img-shaped {
    width: 80%;
  }

  .contact-list__icon {
    width: 42px;
    height: 42px;
  }

  .mobile-menu__dropdown {
    width: 100%;
  }

  .footer-search-form__btn {
    position: static;
    margin-top: 18px;
  }
}