@use 'sass:math';
// ========================= [ Header styles ] =========================
.header {
  position: relative;
  padding: 40px 0;
  @media (max-width: $breakpoint992) {
    padding: 20px 0;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 50px;
    @media (max-width: $breakpoint1024) {
      margin-right: 25px;
    }
  }
  &__menu {
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
  &__search-form {
    margin-left: auto;
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
  &__mobile-search-btn {
    display: none;
    @media (max-width: $breakpoint992) {
      display: block;
      margin-left: auto;
    }
  }
  &__user {
    margin-left: 23px;
    @media (max-width: $breakpoint1024) {
      margin-left: 15px;
    }
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
  &__language-link {
    margin-left: 23px;
    @media (max-width: $breakpoint1024) {
      margin-left: 15px;
    }
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
}

// ========================== [ Menu styles ] ==========================
.menu {
  &__list {
    display: flex;
    margin-right: 30px;
  }
  &__list-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
    &--dropdown {
      position: relative;
      &:hover {
        > .submenu {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__link--dropdown {
          &::before {
            transform: rotate(-135deg);
          }
          &::after {
            transform: rotate(135deg);
          }
        }
      }
    }
  }
  &__link {
    font-size: 18px;
    font-weight: 500;
    color: $blackColor;
    @media (max-width: $breakpoint1200) {
      font-size: 16px;
    }
    &--dropdown {
      padding-right: 30px;
      position: relative;
      @media (max-width: $breakpoint1200) {
        padding-right: 18px;
      }
      &::before, &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        width: 2px;
        height: 8px;
        background-color: $accentColor;
        transition: transform .4s;
      }
      &::before {
        right: 5px;
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

// ========================== [ Submenu styles ] ==========================
.submenu {
  padding: 10px;
  position: absolute;
  top: calc(100% + 25px);
  left: -15px;
  width: 200px;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
  pointer-events: none;
  transition: transform .4s, visibility .4s, opacity .4s;
  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% - 9px);
    left: 25px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 32px;
  }
  &__item:not(:last-child) {
    margin-bottom: 5px;
  }
  &__link {
    position: relative;
    left: 0;
    transition: left ease .4s;
    &:hover {
      left: 10px;
      &::before {
        left: 0;
        opacity: 1;
      }
    }
    &::before {
      content: "→";
      transition: left ease .5s;
      position:relative;
      left:-5px;
      opacity:0;
      font-size: 20px;
      line-height: 1;
    }
  }
}

// ========================= [ Mobile-menu styles ] =========================
$elastic: (
  position: right,
  width: 300,
  backgroundColor: #fff,
  boxShadow: 0px 4px 20px 0px rgba(151, 173, 186, 0.25),
  duration: 300,
);
$position: map-get($elastic, 'position');
$width: map-get($elastic, 'width');
$backgroundColor: map-get($elastic, 'backgroundColor');
$boxShadow: map-get($elastic, 'boxShadow');
$duration: map-get($elastic, 'duration');

@keyframes elastic {
  0% {
      border-radius: 50%;
  }
  45% {
      border-radius: 0;
  }
  65% {
      @if ($position == right) {
        border-top-left-radius: 40px 50%;
        border-bottom-left-radius: 40px 50%;
      } @else if ($position == left) {
        border-top-right-radius: 40px 50%;
        border-bottom-right-radius: 40px 50%;
      }
  }
  80% {
      border-radius: 0;
  }
  90% {
      @if ($position == right) {
        border-top-left-radius: 20px 50%;
        border-bottom-left-radius: 20px 50%;
      } @else if ($position == left) {
        border-top-right-radius: 20px 50%;
        border-bottom-right-radius: 20px 50%;
      }
  }
  100% {
      border-radius: 0;
  }
}
// ========================= [ Mobile search styles ] =========================
.mobile-search-btn {
  background-color: transparent;
  &__icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: $accentColor;
  }
}

.mobile-menu {
  display: none;
  @media (max-width: $breakpoint992) {
    display: block;
    margin-left: 28px;
  }
  &.is-opened {
    .hamburger {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      &__line {
        &:nth-child(1) {
          transform: scaleX(0);
          transition: transform 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
        }
        &:nth-child(2) {
          width: 100%;
        }
        &:nth-child(3) {
          width: 0;
          transition: width 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
        }
      }
      &__other-line {
        height: 22px;
        transition: height 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
        transition-delay: 0.3s;
      }
    }
    .mobile-menu__dropdown {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      .mobile-menu__dropdown-inner {
        background-color: $backgroundColor;
        transform: translate(0, 0);
        transition: transform $duration*1ms linear, background-color 0s linear ($duration*2-1)*1ms;
        &::after {
          width: 300%;
          border-radius: 50%;
          animation: elastic math.div($duration,2)*1ms ease ($duration+0.5)*1ms both;
        }
      }
    }
  }
  &__dropdown {
    position: fixed;
    width: $width*1px;
    height: calc(100vh - 82px);
    top: 82px;
    overflow: hidden;
    // overflow-y: auto;
    // overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition-delay: $duration*1ms;
    @if ($position == right) {
      right: 0;
    } @else if ($position == left) {
      left: 0;
    }
  }
  &__dropdown-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
    @if ($position == right) {
      transform: translate(100%, 0);
    } @else if ($position == left) {
      transform: translate(-100%, 0);
    }
    transition: transform $duration*1ms linear, background-color 0s linear $duration*1ms;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @if ($position == right) {
        left: 0;
      } @else if ($position == left) {
        right: 0;
      }
      background-color: $backgroundColor;
      border-radius: 50%;
      z-index: -1;
      transition: all $duration*1ms linear;
    }
    .mCSB_inside>.mCSB_container {
      margin-right: 5px;
    }
    .mCSB_container {
      height: 100%;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
      top: 10px;
      bottom: 10px;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: $accentColor;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
      width: 4px;
      background-color: $greyColor;
    }
  }
  &__navlist {
    border-top: 1px solid $greyColor;
    background-color: $accentColorLight;
  }
  &__navitem, &__subitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $greyColor;
    &.dropdown.sub-open {
      & > .mobile-menu__submenu {
        transform: translateX(0);
      }
    }
  }
  &__navlink, &__sublink {
    padding: 20px;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
  }
  &__navtrigger, &__subtrigger {
    position: relative;
    width: 42px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-right: 2px solid $accentColor;
      border-bottom: 2px solid $accentColor;
      transform: rotate(-45deg);
    }
  }
  &__submenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $accentColorLight;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 350ms;
    &.sub-open {
      & > .mobile-menu__submenu {
        transform: translateX(0);
      }
    }
  }
  &__backmenu {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyColor;
    line-height: normal;
    em {
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__backtrigger {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-right: 2px solid $accentColor;
    border-bottom: 2px solid $accentColor;
    transform: rotate(135deg);
  }
  &__user {
    margin: 34px 0;
    padding: 0 20px;
    text-align: center;
  }
  &__language {
    position: relative;
    color: $darkGrey;
    &-wrap {
      padding: 0 20px;
      text-align: center;
    }
    &.is-opened {
      .mobile-menu__language-btn {
        &::before {
          transform: rotate(-135deg);
        }
        &::after {
          transform: rotate(135deg);
        }
      }
      .mobile-menu__language-dropdown {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
    &-btn {
      position: relative;
      z-index: 10;
      padding-right: 18px;
      font-weight: 500;
      background-color: transparent;
      display: inline-flex;
      align-items: center;
      color: $darkGrey;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        width: 2px;
        height: 8px;
        background-color: $darkGrey;
        transition: transform .4s;
      }
      &::before {
        right: 5px;
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
    &-icon-globe {
      margin-right: 9px;
      width: 21px;
      height: 21px;
      fill: $darkGrey;
    } 
    &-dropdown {
      position: absolute;
      bottom: calc(100% + 10px);
      right: -5px;
      width: 150px;
      max-height: 250px;
      transform: translateY(-50px);
      opacity: 0;
      visibility: hidden;
      background: #fff;
      border-radius: 20px;
      filter: drop-shadow(0px 4px 15px rgba(151, 173, 186, 0.25));
      pointer-events: none;
      transition: transform .4s, visibility .4s, opacity .4s;
      &::before {
        content: '';
        position: absolute;
        top: calc(100% - 9px);
        right: 35px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        transform: rotate(45deg);
      }
      &__inner {
        padding: 10px 15px;
      }
      &__link {
        display: flex;
        position: relative;
        left: 0;
        transition: left ease .4s;
        font-size: 14px;
        color: $darkGrey;
        &:hover {
          left: 10px;
          &::before {
            left: -10px;
            opacity: 1;
          }
        }
        &::before {
          content: "→";
          transition: left ease .5s;
          position:absolute;
          top: 3px;
          left:-15px;
          opacity:0;
          font-size: 20px;
          line-height: 1;
        }
      }
      .mCSB_scrollTools .mCSB_draggerContainer {
        top: 10px;
        bottom: 10px;
      }
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: $accentColor;
      }
      .mCSB_scrollTools .mCSB_draggerRail {
        width: 4px;
        background-color: $greyColor;
      }
    }
  }
}

// ========================= [ Burger styles ] =========================
.hamburger {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 22px;
  height: 22px;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  &__line {
    width: 100%;
    height: 2px;
    background-color: $darkGrey;
    margin-top: 8px;
    border-radius: 2px;
    &:nth-child(1) {
      margin-top: 0;
      transform: scaleX(1);
      transition: transform 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
      transition-delay: 0.4s;
    }
    &:nth-child(2) {
      width: 50%;
      transition: width 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
      transition-delay: 0.4s;
    }
    &:nth-child(3) {
      width: 75%;
      transition: width 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
      transition-delay: 0.4s;
    }
  }
  &__other-line {
    width: 2px;
    height: 0;
    background-color: $darkGrey;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    transition: height 0.4s cubic-bezier(0.694,  0.048, 0.335, 1.000);
    z-index: 10;
    border-radius: 2px;
  }
}
