// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint680: 679.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$accentColor: #34465E;
$redColor: #B92B27;
$textColor: #242424;
$lightGrey: #f1f1f1;
$mediumLightGrey: #E6E6E6;
$mediumGrey: #dfdfdf;
$darkGrey: #8b8b8b;

// Burger Menu
$burgerBreakpoint: $breakpoint576;
$burgerColor: #fff;
$burgerActiveColor: #fff;

// Fonts
$fontMain: OpenSans, sans-serif;
$fontSecondary: '';
